@import "floating-buttons";

.ui-select-toggle {
  height: 29px;
}

.with-border{
  border: 1px solid #ccc;
}

.items-container {
  height: 260px;
  overflow-y: scroll;
}

.items-container .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 0;
  border-top: 0;
}

.items-container .table>tbody>tr:last-child>td, .table>tfoot>tr:last-child>td {
  padding-bottom: 0;
}

.items-container .table>tbody>tr>td {
  cursor: pointer;
}

.f-bold {
  font-weight:bold;
}

.fixed-action-btn ul {
  padding: 0;
}

.fixed-action-btn ul li {
  list-style-type: none;
}