<div class="card">
  <div class="card-header ch-alt">
    <button class="btn btn-default" ui-sref="index.invoices.input"><i class="zmdi zmdi-arrow-left"></i> Cancelar</button>
    <button class="btn btn-success pull-right" ng-class="{'disabled': !isValidPayment()}" ng-click="validatePayment()" ng-disabled="!isValidPayment()">Validar</button>
  </div>
  <div class="card-header ch-alt text-center">
    <h2>Pago</h2>
  </div>
  <div class="card-body items-container h-500 card-padding">
    <div class="row">
      <div class="col-sm-5">
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addPayment()">Efectivo</button>
        <div class="checkbox" ng-show="credit > 0"><label><input type="checkbox" name="credit" ng-model="applyCredit"><i class="input-helper"></i>Aplicar credito de <span ng-bind="credit"></span></label></div>
      </div>
      <div class="col-sm-7">
        <div class="m-b-30" ng-show="!current.invoice.payments.length">
          <h1 class="text-center f-s-60 c-green">Q <span ng-bind="getGrandTotal()"></span></h1>
          <p class="text-center">Seleccione el metodo de pago.</p>
        </div>
        <table class="table i-table m-t-10 m-b-10" ng-show="current.invoice.payments.length">
          <thead class="text-uppercase">
            <tr>
              <th align="left">Debe</th>
              <th align="left">Monto</th>
              <th align="left">Cambio</th>
              <th align="left">Metodo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in current.invoice.payments track by $index" ng-class="{'active success opacity-90': item.correlative == current.invoice.payment.correlative}" ng-click="setCurrentPayment( item )">
              <td><h4 class="f-400 text-muted" ng-bind="item.due"></h4></td>
              <td class="tendered"><h4 class="f-400 c-green" ng-bind="item.tendered"></h4></td>
              <td ng-class="{'change': item.change}"><h4 class="f-400 text-muted" ng-bind="item.change"></h4></td>
              <td>
                <h4 class="f-400 text-muted">
                  <span ng-bind="item.method"></span>
                  <button class="btn btn-default btn-xs pull-right" ng-click="deletePayment( item )"><i class="zmdi zmdi-close pull-right"></i></button>
                </h4>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-7">
            <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 1 )">1</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 2 )">2</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 3 )">3</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border with-border" ng-click="addAmount( 10 )">+10</button>
              </div>
            </div>
            <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 4 )">4</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 5 )">5</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 6 )">6</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border with-border" ng-click="addAmount( 20 )">+20</button>
              </div>
            </div>
            <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 7 )">7</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 8 )">8</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 9 )">9</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border with-border" ng-click="addAmount( 50 )">+50</button>
              </div>
            </div>
            <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border">&nbsp;</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( 0 )">0</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="calculate( '.' )">.</button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn with-border" ng-click="substractNumber()"><i class="zmdi zmdi-long-arrow-left"></i></button>
              </div>
            </div>
        </div>
          <div class="col-sm-5">
            <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="index.customers.list( { stateToGo: 'index.invoices.payment' } )"><i class="zmdi zmdi-account"></i> {{ current.customer ? current.customer.name : 'Cliente' }}</button>
            <button type="button" class="btn btn-default btn-lg btn-block"><i class="zmdi zmdi-receipt"></i> Factura</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>