<div class="card">
  <div class="card-header ch-alt">
    <h2 class="text-center">
      Cambio: <span ng-bind="change"></span>
      <button class="btn btn-success pull-right" ng-click="validatePayment()">Siguiente Orden <i class="zmdi zmdi-chevron-right"></i><i class="zmdi zmdi-chevron-right"></i></button>
    </h2>
  </div>
  <div class="card-body bgm-alt h-500 card-padding">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" class="btn btn-lg btn-block waves-effect" ng-click="addPayment()"><i class="zmdi zmdi-receipt"></i> Imprimir Recibo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="bgm-white m-t-20 p-20">
          <p><span ng-bind="currentDate | date: 'dd/MM/yyyy hh:mm a'"></span></p>
          <br>
          <div ng-bind="store.name"></div>
          <div>Telefono: <span ng-bind="store.tel"></span></div>
          <div>Dirección: <span ng-bind="store.address"></span></div>
          <table class="m-t-20" width="100%">
            <tbody>
              <tr ng-repeat="item in invoiceItems">
                <td ng-bind="item.name"></td>
                <td align="right" ng-bind="item.quantity"></td>
                <td align="right">Q <span ng-bind="item.price"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>