<div class="card">
  <div class="card-header">
    <h2>{{ !$state.params.id ? 'Nuevo' : 'Editar' }} {{ module }} <small>Ingrese la informaci&oacute;n.</small></h2>
  </div>

  <div class="card-body card-padding">
    <form rol="form" name="form" ng-submit="submitForm(form.$valid)" novalidate>
      <div class="row">
        <div class="col-sm-6" ng-class="{ 'has-error' : form.name.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="name" ng-model="data.name" placeholder="Nombre" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.stock.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="stock" ng-model="data.stock" placeholder="Stock" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.minimum_amount.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="minimum_amount" ng-model="data.minimum_amount" placeholder="Cantidad minima" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.price.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="price" ng-model="data.price" placeholder="Precio" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.category_id.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <ui-select class="form-control input-sm" name="category_id" ng-model="data.category_id" theme="bootstrap" sortable="true" required>
              <ui-select-match class="ui-select-match" placeholder="Categoria">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item.id as item in categories | filter: {name: $select.search}">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
          <a class="btn btn-default" ui-sref="^.list">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>