<div class="card">
  <div class="card-header ch-alt">
    <h2 class="text-center">
      Cambio:
      <button class="btn btn-success pull-right" ng-click="validatePayment()">Siguiente Orden <i class="zmdi zmdi-chevron-right"></i><i class="zmdi zmdi-chevron-right"></i></button>
    </h2>
  </div>
  <div class="card-body bgm-alt items-container h-500 card-padding">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" class="btn btn-lg btn-block" ng-click="addPayment()"><i class="zmdi zmdi-receipt"></i> Imprimir Recibo</button>
      </div>
    </div>
  </div>
</div>