<div class="col-sm-5">
  
  <div class="card">
    <div class="card-header ch-alt text-center">
      <h2>Factura</h2>
    </div>
    <div class="card-body c-overflow items-container">
      <table class="table i-table m-t-10 m-b-10">
        <tbody>
          <tr ng-repeat="item in invoiceItems track by $index" ng-class="{'active': item.id == currentItem.id}" ng-click="setCurrentItem( item )">
            <td width="80%">
              <h5 class="text-uppercase f-400" ng-bind="item.name"></h5>
              <span class="text-muted"><span ng-bind="item.quantity"></span> Unidad(es) a <span ng-bind="item.price"></span></span>
            </td>
            <td align="right">Q <span ng-bind="item.total = getTotal(item)"></span></td>
          </tr>
          <tr>
            <td></td>
            <td align="right">Q <span ng-bind="getGrandTotal()"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="card-header ch-alt card-padding">
      <div class="row">
        <div class="col-sm-5">
          <button type="button" class="btn btn-default btn-lg btn-block"><i class="zmdi zmdi-account"></i> Cliente</button>
          <button type="button" class="btn btn-default btn-lg btn-block"><i class="zmdi zmdi-chevron-right"></i> Pago</button>
        </div>
        <div class="col-sm-7">
          <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">1</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">2</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">3</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn with-border" ng-class="{'btn-default': !calculatorOptions.quantity, 'btn-success': calculatorOptions.quantity}" ng-click="setOptionSelected( 'quantity' )">Can</button>
            </div>
          </div>
          <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">4</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">5</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">6</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn with-border" ng-class="{'btn-default': !calculatorOptions.discount, 'btn-success': calculatorOptions.discount}" ng-click="setOptionSelected( 'discount' )">Des</button>
            </div>
          </div>
          <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">7</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">8</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">9</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn with-border" ng-class="{'btn-default': !calculatorOptions.price, 'btn-success': calculatorOptions.price}" ng-click="setOptionSelected( 'price' )">Pre</button>
            </div>
          </div>
          <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">&nbsp;<!--+/---></button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">0</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border">.</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default with-border"><i class="zmdi zmdi-long-arrow-left"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="col-sm-7">
  <div class="card">
    <div class="card-header ch-alt">
      <h2>Productos</h2>
    </div>
    <div class="card-body card-padding">
      <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-auto-resize class="myGrid"></div>
    </div>
  </div>
</div>

<button class="btn btn-float bgm-red m-btn" print><i class="zmdi zmdi-print"></i></button>